
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Templates/Layout.cshtml";
}

<h4 class="text-danger">Erro! Usuário não está autenticado</h4>
<a href="/Usuario/Autenticar">Clique aqui para autenticar-se</a>

