
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Templates/Layout.cshtml";
}

<h4>Escolha a opção desejada</h4>
<hr />

<a href="/Usuario/CriarConta">Criar conta de usuário</a>
<br />
<a href="/Usuario/Autenticar">Realizar autenticação</a>

